@import url('https://fonts.googleapis.com/css2?family=Antic&family=Charmonman:wght@400;700&display=swap');

/*--------------------LANDING--------------------*/

* {
    font-family: "Antic", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    background-color: #eee3d7;
    min-height: 100vh;
}

ul li{
    list-style: none;
}

a {
    text-decoration: none;
    color: initial;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 100px;
    background-color: black;
}

nav img {
    height: 100px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul .lists {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.commonButton {
    transition: 0.5s;
    background-color: none;
    border-bottom: #fcfcfc 1px solid;
    color: #fafbfd;
}

.commonButton:hover {
    background-color: #fcfcfc;
    color: black;
}

nav ul li {
    padding: 10px 50px;
    font-size: 1.2em;
}

nav ul li.loginList {
    background-color: #760817;
    margin-left: 50px;
    border: none;
    border-radius: 10px;
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 3px;
    color: #fafbfd;
}

main {
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
    background-size: cover;
}

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: black;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 1.1em;
}

footer ul li a {
    color: #fafbfd;
}

/*--------------------INDEX--------------------*/

main.indexMain {
    padding: 75px 75px 225px 75px;
}

main.indexMain .mainText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    width: 50%;
}

main.indexMain div h1 {
    font-family: "Charmonman", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 3em;
    color: black;
}

main.indexMain div h4 {
    width: 55%;
    font-size: 1.6em;
    text-align: right;
    color: black;
}

main.indexMain form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    width: 500px;
    padding: 25px 50px;
    border: #fcfcfc solid 1px;
    color: #fcfcfc;
    background-color: black;
}

main.indexMain form h3 {
    font-size: 2em;
    text-align: center;
}

main.indexMain form label {
    font-size: 1.4em;
}

main.indexMain form .inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

main.indexMain form .inputs input {
    padding: 15px 5px;
    font-size: 1.2em;
}

main.indexMain form input[type='submit'] {
    width: 50%;
    height: 40px;
    border: none;
    border-bottom: #fcfcfc solid 1px;
    margin-left: 25% !important;
    font-size: 1.3em;
    color: #fcfcfc;
    background-color: transparent;
}

/*--------------------PRODUCTOS--------------------*/

main.productosMain {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

aside {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-right: lightgray solid 1px;
    background-color: #fcfcfc;
}

aside h4 {
    text-align: center;
}

aside .categories {
    display: flex;
    flex-direction: column;
}

aside .categories p .btn-primary {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: none;
    border-radius: 0px;
    border-bottom: black solid 1px;
    background-color: transparent;
    color: black;
}

aside .categories p .btn-primary:active {
    background-color: #760817;
}

aside .categories .collapse .card, aside .categories .collapsing .card{
    border: 0px none transparent !important;
}

aside .categories .collapse .card .category, aside .categories .collapsing .card .category{
    display: flex;
    align-items: center;
    gap: 8px;
}

.productosPage .productosHeader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 25px 40px;
}

.productosPage .productosArticles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 150px;
    padding: 30px;
}

.productosPage .productosArticles article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
    width: 300px;
    height: 400px;
    border: lightgrey solid 1px;
    background-color: #cae3d7;
    transition: 0.4s;
}

.productosPage .productosArticles article:hover {
    transform: scale(1.2);
}

.productosPage .productosArticles article img {
    width: 250px;
    height: 300px;
}

.productosPage .productosArticles article .articleDesc {
    font-size: 1.2em
}

.productosPage .productosArticles article .articleAdds {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.productosPage .productosArticles article .articleAdds .articlePrice {
    font-size: 1.4em;
    font-weight: bold;
}

.productosPage .productosArticles article .articleAdds .articleButton {
    background-color: #d7cae3;
}

/*--------------------ABOUT US--------------------*/

