@import url('https://fonts.googleapis.com/css2?family=Antic&family=Charmonman:wght@400;700&display=swap');

* {
    font-family: "Antic", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0 !important;
}

body {
    background-color: #fafbfd;
}

ul li{
    list-style: none;
}

a {
    text-decoration: none;
    color: initial;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 100px;
    background-color: black;
}

nav img {
    height: 100px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

nav ul .lists {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.commonButton {
    transition: 0.5s;
    background-color: none;
    border-bottom: #fcfcfc 1px solid;
    color: #fafbfd;
}

.commonButton:hover {
    background-color: #fcfcfc;
    color: black;
}

nav ul li {
    padding: 10px 50px;
    font-size: 1.2em;
}

nav ul li.loginList {
    background-color: #760817;
    margin-left: 50px;
    border: none;
    border-radius: 10px;
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 3px;
    color: #fafbfd;
}

main {
    display: flex;
    justify-content: center;
    padding: 75px;
    background-color: #eee3d7;
    background-size: cover;
}

main .mainText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    width: 50%;
}

main div h1 {
    font-family: "Charmonman", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 3em;
    color: black;
}

main div h4 {
    width: 55%;
    font-size: 1.6em;
    text-align: right;
    color: black;
}

main form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    width: 500px;
    padding: 25px 50px;
    border: #fcfcfc solid 1px;
    color: #fcfcfc;
    background-color: black;
}

main form h3 {
    font-size: 2em;
    text-align: center;
}

main form label {
    font-size: 1.4em;
}

main form .inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

main form .inputs input {
    padding: 15px 5px;
    font-size: 1.2em;
}

main form input[type='submit'] {
    width: 50%;
    height: 40px;
    border: none;
    border-bottom: #fcfcfc solid 1px;
    margin-left: 25% !important;
    font-size: 1.3em;
    color: #fafbfd;
    background-color: transparent;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: black;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 1.1em;
}

footer ul li a {
    color: #fafbfd;
}